<fieldset id='payment' style="width:90%;">
  <%= form_tag @gateway.preferred_url do %>
  <fieldset id="order_details">
    <div class="clear"></div>
    <legend><%= t("confirm") %> &amp; Pay</legend>
    <%= render :partial => 'shared/order_details', :locals => {:order => @order} -%>
  </fieldset>

  <hr />
  <%
    merchant_id = @gateway.preferred_account_id
    order_id = @order.ccavenue_latest_txn.remote_order_number 
    amount = @order.total.to_s
    redirect_url = gateway_ccavenue_comeback_url(@order, :protocol => "http")
    checksum = get_checksum(merchant_id, order_id, amount, redirect_url, @gateway.preferred_working_key)
  %>
  <p><%= t('ccavenue_instuctional_text') %></p><br/>
  <%= hidden_field_tag 'Merchant_Id',     merchant_id  %>
	<%= hidden_field_tag 'Order_Id',        order_id %>
	<%= hidden_field_tag 'Amount',          amount %>
  <%= hidden_field_tag 'Redirect_Url',    redirect_url   %>
  <%= hidden_field_tag 'Checksum',        checksum %>
	<%= hidden_field_tag 'billing_cust_name',            @bill_address.full_name %>
	<%= hidden_field_tag 'billing_cust_address',         @bill_address.address1  %>
	<%= hidden_field_tag 'billing_cust_city',            @bill_address.city %>
	<%= hidden_field_tag 'billing_cust_state',      (@bill_address.state.try(:name) || @bill_address.state_name) %>
	<%= hidden_field_tag 'billing_zip_code',     @bill_address.zipcode %>
	<%= hidden_field_tag 'billing_cust_country',         @bill_address.country.name %>
	<%= hidden_field_tag 'billing_cust_tel',     @bill_address.phone %>
	<%= hidden_field_tag 'billing_cust_email',   @order.email %>

  <% if @gateway.preferred_mode != 'LIVE' %>
  <%= hidden_field_tag 'Merchant_Param',  "SUB-MERCHANT TEST" %>
  <%= hidden_field_tag 'billing_cust_notes', "SUB-MERCHANT TEST" %>
  <%= hidden_field_tag 'delivery_cust_notes', "SUB-MERCHANT TEST" %>
  <% end %>

  <%= hidden_field_tag 'delivery_cust_name',       @ship_address.full_name %>
  <%= hidden_field_tag 'delivery_cust_address',    @ship_address.address1 %>
  <%= hidden_field_tag 'delivery_cust_city',       @ship_address.city %>
  <%= hidden_field_tag 'delivery_cust_state',      (@ship_address.state.try(:name) || @ship_address.state_name) %>
  <%= hidden_field_tag 'delivery_cust_country',    @ship_address.country.name %>
  <%= hidden_field_tag 'delivery_cust_tel',      @ship_address.phone %>
  <%= hidden_field_tag 'delivery_zip_code', @ship_address.zipcode %>
  <%= hidden_field_tag 'delivery_cust_email', @order.email %>


	<%= submit_tag t('ccavenue_submit'), :class => 'gateway_payment continue button primary' %>
  <% end %>
</fieldset>
